<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lisää Päivakirja merkintä</title>
</head>
<body>
    <h2>Lisää Päivakirja merkintä</h2>
    <form th:object="${entry}" th:action="@{/lisaa}" method="post">
        <label for="content">Sisältö:</label>
        <input type="text" id="content" name="content" th:field="*{content}" required>
        <br>
        <button type="submit">Lisää merkintä</button>
    </form>
    <a th:href="@{/lista}">Takaisin listaan</a>
    <ul>
        <li><a th:href="@{/}" th:text="Etusivulle"></a></li>
    </ul>

</body>
</html>