<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Päivakirja</title>
</head>
<body>
    <h2>Päivakirja</h2>
    <ul>
        <li th:each="entry : ${entries}">
            <span th:text="${entry.content}"></span>
            <span th:text="${entry.createdAt}"></span>
            <a th:href="@{/muokkaa/{id}(id=${entry.id})}">Muokkaa</a>
            <a th:href="@{/delete/{id}(id=${entry.id})}">Poista</a>
        </li>
    </ul>
    <a th:href="@{/lisaa}">Lisää uusi merkintä</a>
    <ul>
        <li><a th:href="@{/}" th:text="Etusivulle"></a></li>
    </ul>
</body>
</html>
