<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Muokkaa Paivakirjaa</title>
</head>
<body>
    <h2>Muokkaa Paivakirjaa</h2>
    <form th:object="${entry}" th:action="@{/paivakirja/edit/{id}(id=${entry.id})}" method="post">
        <label for="content">Sisältö:</label>
        <input type="text" id="content" name="content" th:field="*{content}" required>
        <br>
        <button type="submit">Tallenna muutokset</button>
    </form>
    <a href="/paivakirja/lista">Takaisin listaan</a>
</body>
</html>